@font-face {
  font-family: quicksand;
  src: url(Quicksand/Quicksand-VariableFont_wght.ttf);
}

html, body {
  position: relative;
  height: 100%;
  color: white;
  font-family: quicksand, sans-serif;
}

body {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100;
  justify-content: space-between;
}

header {
  height: 14vh;
  background-color: rgb(30, 142, 218);
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}



.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 120px;
  height: 100%;
}

.form-container {
  display: none;
  background: rgba(80, 80, 80, 0.8);
  position: absolute;
  top: 40%;
  left: 50%;
  border-radius: 8px;
  transform: translate(-50%, -50%);
  padding: 40px 80px; 
}

.cancel {
  position: absolute;
  right: 5px;
  top: 5px;
}

.cancel img:hover {
  background-color: rgb(34, 34, 34);
}

form {
  font-size: 1.2rem;
  display: grid;
  grid-template-rows: repeat(5, fr);
  gap: 24px;
}

form > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input[type=text] {
  position: relative;
  border-radius: 5px;
  border-style: double;
  widtH: 160px
}

form > button {
  font-size: 1.7rem;
  font-family: quicksand, sans-serif;
}

.grid-container {
  display: grid;
  padding: 16px;
  gap: 48px;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: rgb(51, 51, 51);
  padding: 16px 40px;
  height: 160px;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgb(87, 87, 87);
  display: grid;
  grid-template-rows: 0.5fr repeat(4, 1fr);
}

.card > div:nth-child(1) {
  display: flex;
  justify-content: end;
}

.card > div:nth-last-child(1) {
  display: flex;
  justify-content: space-between;
}

.card img {
  height: 24px;
  width: 24px;
}

.card img:hover {
  background-color: rgb(29, 29, 29);
}

.new-book {
  display: flex;
  justify-content: center;
}

.new-book > button {
  background-color: rgb(0, 174, 255);
  padding: 12px 20px;
  border-radius: 100px;;
}

.new-book > button:hover {
  background-color: rgb(0, 106, 155);
}

footer {
  height: 7vh;
  background-color: rgb(30, 142, 218);
  display: flex;
  justify-content: end;
}

footer .links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding-right: 20px;
}

.links > div {
  display: flex;
  align-items: center;
}